In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("ATUS_umap18_full.csv")
df.head()

,Unnamed: 0,TUCASEID,GEMETSTA,GTMETSTA,PEEDUCA,PEHSPNON,PTDTRACE,TEAGE,TELFS,TEMJOT,...,t11,t12,t13,t14,t15,t16,t18,t50,full_dim1,full_dim2
0,0,20030100013280,1,-1,44,2,2,60,2,2,...,5,325,200,0,0,0,0,0,-3.157357,10.445802
1,1,20030100013344,2,-1,40,2,1,41,1,2,...,90,590,0,0,0,0,20,0,-4.631072,4.470425
2,2,20030100013352,1,-1,41,2,1,26,2,2,...,75,340,0,0,0,60,10,0,1.988787,5.410405
3,3,20030100013848,2,-1,39,2,2,36,4,-1,...,25,265,0,0,0,0,0,0,-3.657656,16.235014
4,4,20030100014165,2,-1,45,2,1,51,1,2,...,92,60,60,0,0,0,78,0,1.237573,16.702456

In [ ]:
# drop_list=['pca1','pca2','pca1_scaled','pca2_scaled','full_manhattan_dim1','full_manhattan_dim2']
# df = df.drop(drop_list)
# df.head()

In [8]:
df1 = df[df['TELFS']==1]
df2 = df[df['TELFS']!=1]

In [9]:
df1.to_csv("ATUS_umap18_full_work.csv")
df2.to_csv("ATUS_umap18_full_nowork.csv")